/*  your css code here. If applicable */
body{
	width:1100px;
	padding:0;
	margin:0 auto;
	background:rgb(203, 214, 203);
}
td {
    padding: 10px;
    vertical-align: top;
}


.imageContainer{
    width: 100%;
}

td img {
    width: 100%;
    height: 200px;   /* choose your preferred size */
    object-fit: cover;
    display: block;
}


.col1{
	width:200px;
	text-align:center;
}
.col2{
	width:600px;
	text-align:center
}
#p1{
	font-weight:bolder;
}

.col3{
	width:200px;
	text-align:center
}